spring:
  datasource:
    url:  jdbc:h2:~/server
    username: sa
    password:
    driver-class-name: org.h2.Driver
  h2:
    console:
      enabled: true
  jpa:
    show-sql: true
    hibernate:
      ddl-auto: create
  config:
    import: secrets.properties

application:
  jwt:
    secret: ${JWT_SECRET:y70479Ay8jJj0Vu2fICIie6hT6aXi5UkbKW3pgLZZYyjWFCYwh4stiy4X8YjPi15}
    expiration: 3600000 # an hour
    refresh-token:
      expiration: 18000000 # five hours



